*{
    font-family: 'Dongle', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
header {
    height: 100px;
    width: 100%;
    background-color: black;
    box-shadow: black 0 0 10px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.button-block {
    box-sizing: border-box;
    margin: 10px;
    height: 50px;
    width: 250px;
    border: 0;
    border-radius: 5px;
    background-color: darkgray;
    box-shadow: white 0 0 10px;
    display: block;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 30px;
}
.button-block:hover{
    box-shadow: white 0 0 15px;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    column-gap: 0;
    font-weight: bold;
    font-size: 45px;
}
.color-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    z-index: -1;
}
footer {
    height: 100px;
    width: 100%;
    background-color: black;
    box-shadow: black 0 0 10px;
    position: absolute;
    bottom: 0;
}
